## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gouyave,GD,12.1646,-61.7296,84.97,70,20,20.71,few clouds
1,1,Hobart,AU,-42.8794,147.3294,44.46,81,20,12.66,few clouds
2,2,Kieta,PG,-6.2167,155.6333,79.70,82,82,7.05,light rain
3,3,Hermanus,ZA,-34.4187,19.2345,53.80,80,100,6.49,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,73.56,72,71,17.83,broken clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gouyave,GD,12.1646,-61.7296,84.97,70,20,20.71,few clouds
2,2,Kieta,PG,-6.2167,155.6333,79.70,82,82,7.05,light rain
10,10,Saint George,US,37.1041,-113.5841,83.43,58,75,9.22,broken clouds
11,11,Meulaboh,ID,4.1363,96.1285,76.80,89,83,4.85,broken clouds
15,15,Albany,US,42.6001,-73.9662,78.44,56,100,9.46,overcast clouds
20,20,Bethel,US,41.3712,-73.4140,85.30,45,75,10.36,broken clouds
24,24,Puerto Ayora,EC,-0.7393,-90.3518,76.96,91,89,10.00,overcast clouds
26,26,Jamestown,US,42.0970,-79.2353,80.02,43,20,12.66,few clouds
32,32,San Cristobal,VE,7.7669,-72.2250,84.38,39,38,5.57,scattered clouds
33,33,Kushima,JP,31.4583,131.2333,78.66,92,74,4.76,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_cities_df = preferred_cities_df.dropna()
new_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gouyave,GD,12.1646,-61.7296,84.97,70,20,20.71,few clouds
2,2,Kieta,PG,-6.2167,155.6333,79.70,82,82,7.05,light rain
10,10,Saint George,US,37.1041,-113.5841,83.43,58,75,9.22,broken clouds
11,11,Meulaboh,ID,4.1363,96.1285,76.80,89,83,4.85,broken clouds
15,15,Albany,US,42.6001,-73.9662,78.44,56,100,9.46,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Carlyle,US,38.6103,-89.3726,86.13,46,21,1.99,few clouds
655,655,Kamyshin,RU,50.0983,45.4160,80.60,34,100,13.71,overcast clouds
657,657,Mae Ramat,TH,16.9840,98.5166,77.79,99,92,1.25,overcast clouds
661,661,Kaka,TM,37.3482,59.6143,77.27,21,0,2.93,clear sky
664,664,Atar,MR,20.5169,-13.0499,83.07,58,100,5.10,moderate rain

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gouyave,GD,84.97,few clouds,12.1646,-61.7296,
2,Kieta,PG,79.70,light rain,-6.2167,155.6333,
10,Saint George,US,83.43,broken clouds,37.1041,-113.5841,
11,Meulaboh,ID,76.80,broken clouds,4.1363,96.1285,
15,Albany,US,78.44,overcast clouds,42.6001,-73.9662,
20,Bethel,US,85.30,broken clouds,41.3712,-73.4140,
24,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
26,Jamestown,US,80.02,few clouds,42.0970,-79.2353,
32,San Cristobal,VE,84.38,scattered clouds,7.7669,-72.2250,
33,Kushima,JP,78.66,broken clouds,31.4583,131.2333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis = "index", how="any") 
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Gouyave,GD,84.97,few clouds,12.1646,-61.7296,Rumboat Retreat
2,Kieta,PG,79.70,light rain,-6.2167,155.6333,Uruna Bay Retreat
10,Saint George,US,83.43,broken clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
11,Meulaboh,ID,76.80,broken clouds,4.1363,96.1285,Kost Pria
15,Albany,US,78.44,overcast clouds,42.6001,-73.9662,
...,...,...,...,...,...,...,...
654,Carlyle,US,86.13,few clouds,38.6103,-89.3726,Mariner's Village at Carlyle Lake
655,Kamyshin,RU,80.60,overcast clouds,50.0983,45.4160,Guest House Aviator
657,Mae Ramat,TH,77.79,overcast clouds,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
661,Kaka,TM,77.27,clear sky,37.3482,59.6143,
664,Atar,MR,83.07,moderate rain,20.5169,-13.0499,Oumou Elghoura

In [12]:
# 8a. Create the output File (CSV)
hotel_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(hotel_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))